DATABASE_URL=postgres://bcis:replace_with_local_password@127.0.0.1:5432/bcis
HOST=127.0.0.1
PORT=3001
UI_ORIGIN=http://127.0.0.1:5173
SEED_PASSWORD=replace_with_a_long_unique_password
STORAGE_DIR=./storage
